@model IEnumerable<Time_framework.Models.AppUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h2>UserManagement</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">User Name:</th>
            <th scope="col">Email:</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.nhanvien)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>

</table>

